* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #163300;
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-container {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 211px;
  margin-bottom: 2000px;
}

.paragraphs-container {
  max-width: 1210px;
  margin: 0 auto;
}

.paragraphs-container p:nth-child(1) {
  font-size: 46px;
  font-weight: 900;
  color: #9fe870;
}

.paragraphs-container p:nth-child(2) {
  margin-top: 58px;
  font-size: 32px;
  font-weight: 900;
  color: #9fe870;
}

.converter-container {
  display: grid;
  margin-top: 88px;
  background-color: #ffffff;
  padding: 21px 40px 35px 40px;
  border-radius: 25px;
  grid-template-columns: 585px 100px 585px;
}

.from-container {
  position: relative;
}

.from-container p:nth-child(1) {
  font-size: 13px;
  font-weight: 400;
  color: #77797e;
  margin-bottom: 5px;
}

.from-input-currency-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px #9d9d9d;
  transition: 1s box-shadow ease;
}

.from-input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 3px;
  border-radius: 15px;
  font-size: 27px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding: 23px 0px 26px 14px;
}

.hover {
  outline: none;
  box-shadow: inset 0 0 0 2px #9d9d9d;
}

.focus {
  box-shadow: inset 0 0 0 3px black;
}

.from-currency {
  display: flex;
  align-items: center;
  padding: 31px 22px 32px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.from-currency img:nth-child(1) {
  width: 25px;
}
.from-currency span {
  margin-left: 12px;
  margin-right: 12px;
}

.from-rate {
  max-width: 307px;
  margin-top: 20px;
}

.from-rate p:nth-child(1) {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-bottom: 3px;
}

.from-rate p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  color: #77797e;
}

.from-modal-container {
  position: absolute;
  width: 384px;
  background-color: white;
  z-index: 100;
}

.search {
  position: relative;
  width: 384px;
  outline: 1px solid wheat;
  padding: 16px 8px 10px 8px;
  border-radius: 11px 11px 0 0;
}

.search img {
  position: absolute;
  top: 31px;
  left: 28px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 12px 0px 12px 41px;
  border: 3px solid #163300;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.search input::placeholder {
  color: #868685;
}
