* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #163300;
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

.from-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.to-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 211px;
  margin-bottom: 2000px;
}

.paragraphs-container {
  max-width: 1350px;
  margin-left: 75px;
}

.paragraphs-container p:nth-child(1) {
  margin-left: 75px;
  font-size: 46px;
  font-weight: 900;
  color: #9fe870;
}

.paragraphs-container p:nth-child(2) {
  margin-left: 75px;
  margin-top: 58px;
  font-size: 32px;
  font-weight: 900;
  color: #9fe870;
}

.converter-container {
  display: grid;
  max-width: 1350px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 88px;
  background-color: #ffffff;
  padding: 21px 40px 35px 40px;
  border-radius: 25px;
  grid-template-columns: 1fr 100px 1fr;
}

/* From Container Start ====> */

.from-container {
  position: relative;
}

.from-container p:nth-child(3) {
  font-size: 13px;
  font-weight: 400;
  color: #77797e;
  margin-bottom: 5px;
}

.from-input-currency-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px #9d9d9d;
  transition: 1s box-shadow ease;
}

.from-input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 3px;
  border-radius: 15px;
  font-size: 27px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding: 23px 0px 26px 14px;
}

.hover {
  outline: none;
  box-shadow: inset 0 0 0 2px #9d9d9d;
}

.focus {
  box-shadow: inset 0 0 0 3px black;
}

.from-currency {
  display: flex;
  align-items: center;
  padding: 31px 22px 32px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.from-currency img:nth-child(1) {
  width: 25px;
}
.from-currency span {
  margin-left: 12px;
  margin-right: 12px;
}

.from-rate {
  max-width: 400px;
  margin-top: 20px;
}

.from-rate p:nth-child(1) {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-bottom: 3px;
}

.from-rate p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  color: #77797e;
}

.from-modal-container {
  position: absolute;
  top: 121px;
  left: 75%;
  width: 384px;
  background-color: white;
  border-radius: 0px 0px 11px 11px;
  z-index: 100;
}

.from-search-container {
  position: relative;
  width: 384px;
  padding: 16px 8px 10px 8px;
}

.from-search-container img {
  position: absolute;
  top: 31px;
  left: 28px;
}

.from-search-container input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 12px 0px 12px 41px;
  border: 3px solid #163300;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.from-search-container input::placeholder {
  color: #868685;
}

.from-list-container {
  width: 100%;
  max-height: 373px;
  padding: 0px 9px 0px 8px;
  overflow-y: scroll;
}

.from-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px 12px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.from-list li:hover {
  box-shadow: inset 0 0 0 1px #9d9d9d;
}

.from-list li div {
  display: flex;
  align-items: center;
}

.from-list li img:nth-child(1) {
  width: 25px;
  margin-right: 10px;
}

/* From Container End ====> */

/* Revert Container Start ====> */

.revert-image {
  margin-top: 41px;
  margin-left: 27px;
  cursor: pointer;
}

/* Revert Container End ====> */

/* To Container Start ====> */

.to-container {
  position: relative;
}

.to-container p:nth-child(3) {
  font-size: 13px;
  font-weight: 400;
  color: #77797e;
  margin-bottom: 5px;
}

.to-input-currency-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px #9d9d9d;
  transition: 1s box-shadow ease;
}

.to-input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 3px;
  border-radius: 15px;
  font-size: 27px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding: 23px 0px 26px 14px;
}

.hover {
  outline: none;
  box-shadow: inset 0 0 0 2px #9d9d9d;
}

.focus {
  box-shadow: inset 0 0 0 3px black;
}

.to-currency {
  display: flex;
  align-items: center;
  padding: 31px 22px 32px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.to-currency img:nth-child(1) {
  width: 25px;
}
.to-currency span {
  margin-left: 12px;
  margin-right: 12px;
}

.to-rate {
  max-width: 307px;
  margin-top: 20px;
}

.to-rate p:nth-child(1) {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-bottom: 3px;
}

.to-rate p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  color: #77797e;
}

.to-modal-container {
  position: absolute;
  top: 121px;
  right: 0%;
  width: 384px;
  background-color: white;
  border-radius: 0px 0px 11px 11px;
  z-index: 100;
}

.to-search-container {
  position: relative;
  width: 384px;
  padding: 16px 8px 10px 8px;
}

.to-search-container img {
  position: absolute;
  top: 31px;
  left: 28px;
}

.to-search-container input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 12px 0px 12px 41px;
  border: 3px solid #163300;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.to-search-container input::placeholder {
  color: #868685;
}

.to-list-container {
  width: 100%;
  max-height: 373px;
  padding: 0px 9px 0px 8px;
  overflow-y: scroll;
}

.to-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px 12px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.to-list li:hover {
  box-shadow: inset 0 0 0 1px #9d9d9d;
}

.to-list li div {
  display: flex;
  align-items: center;
}

.to-list li img:nth-child(1) {
  width: 25px;
  margin-right: 10px;
}

/* To Container End ====> */

/* Get Exchange Rate Container Start ====> */

.get-exchange-rate-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.get-exchange-rate-button {
  display: inline-block;
  width: 292px;
  padding: 20px 0px 21px 0px;
  border-radius: 44px;
  margin-top: 25px;
  text-align: center;
  background-color: #9fe870;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.get-exchange-rate-button:active {
  background-color: #b6e996;
}

/* Get Exchange Rate Container End ====> */

/* Media Queries Start ====> */

@media screen and (max-width: 1000px) {
  .converter-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 100px 1fr;
  }

  .from-modal-container {
    left: initial;
    right: 0%;
  }

  .revert-image {
    margin-top: 27px;
    margin-left: 50%;
  }
}

/* Media Queries End ====> */
